<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/dad4fa0b-aa0d-42bc-8ec7-a5e83450c6f0/resourcegroups/SampleSSE/providers/Microsoft.Web/sites/SampleSseWeatherServer</ResourceId>
    <ResourceGroup>SampleSSE</ResourceGroup>
    <ApiResourceId>/subscriptions/dad4fa0b-aa0d-42bc-8ec7-a5e83450c6f0/resourceGroups/SampleSSE/providers/Microsoft.ApiManagement/service/AspNetCoreSampleSseServerapi/apis/AspNetCoreSampleSseServer</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://samplesseweatherserver.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>565e9cb9-0980-4d93-b6ab-c4b3be3008f6</ProjectGuid>
    <MSDeployServiceURL>samplesseweatherserver.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SampleSseWeatherServer</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>